*{
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}

body{
    font-family: inter;
    
}
.container{
    max-width: 1140px;
    margin: auto;
}
/* Index*/

.main .block_banner .text_banner{
    position: absolute;
    top: 100px;
    line-height: 29px;
    left: 50%;
    transform: translateX(-22%);
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
}

.main .block_banner .text_banner h3{
    font-weight: 700;
    font-family: inter;
    font-size: 60px;
    line-height: 80px;
}

.main .block_banner .text_banner .canada{
    font-size: 93px;
    font-weight: 700;
    font-style: normal;
}

.main .block_banner .text_banner .btn_contact{
    border: 3px solid #FFFFFF;
    width: 26%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-131%);
    margin-top: 20px;
}

.main .block_banner .text_banner .btn_contact a{
    line-height: 2.5;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.main .block_banner .text_banner p{
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    font-family: inter;
    max-width: 59%;
}

/*service d'immigration sécurisé*/
.immigration_service{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 65px;
}

.immigration_service .text_immigration, .immigration_service .image_immigration {
    width: 50%;
    padding: 80px;
}

.immigration_service .text_immigration h3{
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    font-family: Inter;
    text-transform: uppercase;
}

.immigration_service .text_immigration p{
    margin-top: 39px;
    line-height: 27px;
    letter-spacing: -0.045em;
    font-size: 18px;
    font-family: Inter;
    font-weight: 300;
    text-align: justify;
    font-style: normal;
}

/*programmes d'immigration*/
.immigration_program .program_content{
    display: flex;
    justify-content: space-between;
}
.immigration_program .program_content .program{
    padding: 45px;
    
}

.immigration_program{
    background: #FF0000;
    padding: 60px;
}

.immigration_program .program_content .program .text_content{
    color: #FFFFFF;
    margin-top: 12px;
    line-height: 28px;
    font-family: inter;
}

.immigration_program .program_content .program .image_program img{
    width: 80%;
}

.immigration_program .program_content .program .text_content .content_program h3{
    font-weight: 700;
    font-size: 29px;
    line-height: 38px;
    text-align: justify;
}

.immigration_program .program_content .program .text_content .content_program p{
    font-size: 17px;
    font-weight: 300;
    text-align: justify;
    font-family: Inter;
    font-style: normal;
}

.immigration_program .program_content .program  .btn_read_more1{
    border: 3px solid #FFFFFF;
    width: 11%;
    text-align: center;
    position: absolute;
    left: 27%;
    transform: translateX(-105%);
    margin-top: 11px;
}

.immigration_program .program_content .program .btn_read_more1 a{
    line-height: 2.5;
    font-size: 13px;
    color: #fff;
    background: #FF0000;
    text-decoration: none;
}

.immigration_program .program_content .program  .btn_read_more2{
    border: 3px solid #FFFFFF;
    width: 11%;
    text-align: center;
    position: absolute;
    left: 56%;
    transform: translateX(-105%);
    margin-top: 11px;
}

.immigration_program .program_content .program .btn_read_more2 a{
    line-height: 2.5;
    font-size: 13px;
    color: #fff;
    background: #FF0000;
    text-decoration: none;
}

.immigration_program .program_content .program  .btn_read_more3{
    border: 3px solid #FFFFFF;
    width: 11%;
    text-align: center;
    position: absolute;
    left: 85%;
    transform: translateX(-105%);
    margin-top: 11px;
}

.immigration_program .program_content .program .btn_read_more3 a{
    line-height: 2.5;
    font-size: 13px;
    color: #fff;
    background: #FF0000;
    text-decoration: none;
}

/*Temoignages*/
.block_temoignages .customer_temoin{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.block_temoignages .customer_temoin .text_customer .customer_image img{
    width: 94px;
}

.block_temoignages {
    margin-top: 100px;
}

.block_temoignages .title_temoin h3{
    font-weight: 700;
    font-size: 50px;
    padding-left: 90px;
}

.block_temoignages .title_temoin .image {
    position: absolute;
    left: 78%;
    transform: translatey(-95%);
    display: flex;
    width: 60px;
}

.block_temoignages .title_temoin .image img{
   padding: 4px;
}

.block_temoignages .customer_temoin .text_customer .customer_name h3{
    font-weight: 500;
    font-size: 30px;
}

.block_temoignages .customer_temoin .text_customer .customer1 .customer_name{
    position: absolute;
    left: 76%;
    transform: translatey(-145%);
}

.block_temoignages .customer_temoin .text_customer .customer2 .customer_name{
    position: absolute;
    left: 47%;
    transform: translatey(-143%);
}

.block_temoignages .customer_temoin .text_customer .customer3 .customer_name{
    position: absolute;
    left: 19%;
    transform: translatey(-144%);
}

.block_temoignages .customer_temoin .text_customer{
   padding: 30px;
   text-align: justify;
   line-height: 27px;
}

.block_temoignages .customer_temoin .text_customer .customer2{
    margin-top: 150px;
    border-bottom: 1px solid #000000;
}

.block_temoignages .customer_temoin .text_customer .customer1{
    border-bottom: 1px solid #000000;
}

.block_temoignages .customer_temoin .text_customer .customer3{
    border-bottom: 1px solid #000000;
}

/*End index*/

/*About*/

/*A propos de nous*/
.main .title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 232px;
    text-align: center;
}

/*Video*/

/*Textes*/
.main .container .description{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main .container .description p{
    text-align: justify;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: -0.045em;
    width: 50%;
    padding: 23px;
}

/*Bouton*/
.main .btn_contact_about a {
    text-decoration: none;
    color: #FFFFFF
   
}

.main .btn_contact_about{
    text-align: center;
    width: 173px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: #FF0000;
    padding: 12px;
}
/*End About*/

/*Blog*/
/*Titre*/
.blog .blog_title h3{
    font-weight: 700;
    font-size: 53px;
    font-family: inter;
    line-height: 130px;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
    letter-spacing: -0.045em;
}

/*Articles block 1*/

.blog .blog_infos .block_article1, .blog .blog_infos .block_article2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.blog .blog_infos .block_article1 .article_a, .blog .blog_infos .block_article1 .article_b{
    width: 50%;
} 

.blog .blog_infos .block_article1 .article_a{
    padding: 0px 50px 0px 0px;
}


.blog .blog_infos .block_article1{
    padding: 50px 0px 30px;
}

.blog .blog_infos .block_article1 .article_a h4{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    text-align: justify;
    letter-spacing: -0.05em;
    font-family: Inter;
}

.blog .blog_infos .block_article1 .article_a p{
    font-weight: 300;
    font-size: 19px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: -0.045em;
    font-family: Inter;
    width: 89%;
}

.blog .blog_infos .block_article1 .article_a a{
    text-decoration: none;
    color: #000000;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    text-align: justify;
}

.blog .blog_infos .block_article1 .article_b .btn_article a{
    position: absolute;
    text-transform: uppercase;
    left: 55%;
    transform: translateY(-338%);
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: Inter;
    text-align: justify;
    line-height: 35px;
    letter-spacing: -0.045em;

}

.blog .blog_infos .block_article1 .article_b .btn_consulter a{
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter;
    text-decoration: none;
    left: 55%;
    transform: translateY(-215%);
    position: absolute;
    border: 1px solid #000000;
    width: 127px;
    text-align: center;
    letter-spacing: 0.105em;

}

/*Articles block 2*/

.blog .blog_infos .block_article2 .article_c, .blog .blog_infos .block_article2 .article_d{
    width: 50%; 
   
} 

.blog .blog_infos .block_article2 .article_c{
    padding: 0px 50px 0px 0px;
}


.blog .blog_infos .block_article2{
    padding: 0px 0px 50px;
}

.blog .blog_infos .block_article2 .article_c .btn_article a{
    position: absolute;
    text-transform: uppercase;
    left: 11%;
    transform: translateY(-338%);
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: Inter;
    text-align: justify;
    line-height: 35px;
    letter-spacing: -0.045em;

}

.blog .blog_infos .block_article2 .article_c .btn_consulter a{
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter;
    text-decoration: none;
    left: 11%;
    transform: translateY(-196%);
    position: absolute;
    border: 1px solid #000000;
    width: 127px;
    text-align: center;
    letter-spacing: 0.105em;

}

.blog .blog_infos .block_article2 .article_d .btn_article a{
    position: absolute;
    text-transform: uppercase;
    left: 55%;
    transform: translateY(-338%);
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: Inter;
    text-align: justify;
    line-height: 35px;
    letter-spacing: -0.045em;
}


.blog .blog_infos .block_article2 .article_d .btn_consulter a{
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter;
    text-decoration: none;
    left: 55%;
    transform: translateY(-202%);
    position: absolute;
    border: 1px solid #000000;
    width: 127px;
    text-align: center;
    letter-spacing: 0.105em;
}

.blog  .btn_follow{
    display:flex;
    margin: auto;
    width: 10%;
}

.blog  .btn_follow .follow1 img{
    width: 54%;
}

.blog  .btn_follow .follow2 img, .blog .btn_follow .follow3 img{
    width: 56%;
}


/*image*/
/*New-letter*/
.blog_newletter{
    background: #FF0000;
    padding: 50px;
    margin: 50px;
}

.blog_newletter .content_blog .info_newletter a{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.045em;
    color: #FFFFFF;
    font-family: Inter;
    text-decoration: none;
}

.blog_newletter .content_blog .info_newletter p{
    font-weight: 700;
    font-size: 15px;
    line-height: 39px;
    letter-spacing: -0.045em;
    color: #FFFFFF;
    font-family: Inter;
}

.blog_newletter .content_blog .form_newletter .email input{
    width: 22%;
    border-radius: 8px ;
    padding: 7px;
    font-family: Inter;
    border-color: #FFFFFF;
    letter-spacing: -0.045em;
}

.blog_newletter .content_blog .form_newletter .btn_send button{
    position: absolute;
    left: 29%;
    transform: translateY(-100%);
    border: 1px solid #000000;
    color: #FFFFFF;
    background: #000000;
    width: 8%;
    padding: 8px;
    border-radius: 8px;
    letter-spacing: -0.045em;
    font-family: Inter;
}
/*End blog*/

/*Article*/
.block_article .title_article h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 77px;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    text-align: center;
}

.block_article .title_article{
    padding: 50px;
}

.block_article .title_article .btn_fleche{
    width: 75px;
    display: flex;
    justify-content: space-between;
}

.block_article .title_article .btn_fleche .gauche{
    position: absolute;
    left: 8%;
    transform: translatey(-108%);
}

.block_article .title_article .btn_fleche .droite{
    position: absolute;
    left: 87%;
    transform: translatey(-108%);
}

.block_article .content_article{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0px 40px;
}

.block_article .content_article .text_article, .block_article .content_article .block_image_article{
    width: 50%;
}

.block_article .content_article .text_article{
    padding: 0px 45px 0px 0px;
}

.block_article .content_article .text_article .paragraph_article p{
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    letter-spacing: -0.045em;
}

.block_article .content_article .text_article .title h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 77px;
    text-align: justify;
    letter-spacing: -0.045em;
    text-transform: uppercase;
}

.block_article .content_article .text_article .title h4{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 50px;
    text-align: justify;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.block_article  .btn_follow{
    display:flex;
    margin: auto;
    width: 10%;
}

.block_article  .btn_follow .follow1 img{
    width: 54%;
}

.block_article  .btn_follow .follow2 img, .block_article .btn_follow .follow3 img{
    width: 56%;
}

.block_article .content_article .block_image_article .article_c{
    margin: 12px 0px 12px;
}

.block_article .content_article .block_image_article .article_b .btn_article a{
    position: absolute;
    text-transform: uppercase;
    left: 54%;
    transform: translateY(-338%);
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: Inter;
    text-align: justify;
    line-height: 35px;
    letter-spacing: -0.045em;
}

.block_article .content_article .block_image_article .article_b .btn_consulter a{
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter;
    text-decoration: none;
    left: 54%;
    transform: translateY(-196%);
    position: absolute;
    border: 1px solid #000000;
    width: 127px;
    text-align: center;
    letter-spacing: 0.105em;
}

.block_article .content_article .block_image_article .article_c .btn_article a{
    position: absolute;
    text-transform: uppercase;
    left: 55%;
    transform: translateY(-338%);
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: Inter;
    text-align: justify;
    line-height: 35px;
    letter-spacing: -0.045em;
}


.block_article .content_article .block_image_article .article_c .btn_consulter a{
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    font-family: Inter;
    text-decoration: none;
    left: 55%;
    transform: translateY(-202%);
    position: absolute;
    border: 1px solid #000000;
    width: 127px;
    text-align: center;
    letter-spacing: 0.105em;
}



/*FAQ*/
/*title faq*/
.faq .title_faq h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.045em;
    text-transform: uppercase;
}

.faq .title_faq {
    width: 31%;
    margin: auto;
}

/*texte faq*/
.faq .text_faq {
    display: flex;
    width: 100%;
    margin: auto;
    
}

.faq .text_faq .text1 p, .faq .text_faq .text2 p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: -0.045em;
}

.faq .text_faq .text1, .faq .text_faq .text2{
    width: 50%;
    padding: 36px;
}

.faq .text_faq .text1 p .question , .faq .text_faq .text2 p .question{
   font-weight: bold;
   font-size: 20px;
}

/*bouton faq*/
.faq .follow_faq .btn_faq{
    display: flex;
    width: 5%;
    margin: auto;
    justify-content: space-between;
    padding: 33px;
}

.faq .follow_faq .btn_faq img{
    width: 13%;
}

/*contactez-nous*/
.block_form_contact{
    background: rgba(217, 217, 217, 0.15);
}

.block_form_contact .title_form h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 114px;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    text-align: center;
}


.block_form_contact .form_contact form input{
    width: 100%;
    padding: 10px;
    background: #E8E6E6;
    border: none;
    height: 16px;
}

.block_form_contact .form_contact form label{
    margin-bottom: 7px;
    font-weight: 400;
}

.block_form_contact .form_contact form textarea{
    background: #E8E6E6;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
    height: 195px; 
    width: 103%;
}

.block_form_contact .form_contact form{
    max-width: 624px;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin: auto;
}

.block_form_contact .form_contact form button{
    width: 100%;
    height: 46px;
    font-weight: 400;
    font-size: 18px;
    background: #FF0000;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #FFFFFF
}

.block_form_contact .form_contact form .btn_envoyer{
    padding: 22px;
    margin: auto;
    width: 19%;
}

/*responsive*/
/*about*/
@media  screen and (max-width: 769px) {
    .container {
        max-width: 1180px;
        margin: auto;
        padding: 0 22px;
    }

    .main .container .description{
        display: block;
        width: 100%;
        padding: 0px;
    
    }
    
    .main .container .description p{
        font-size: 17px;
        line-height: 27px;
        width: 100%;
        padding: 0px;
    }

    .main .title{
        font-size: 25px;
        line-height: 100px;
    }


    /*blog*/
    .blog .blog_title h3{
        font-size: 30px;
        line-height: 80px;
    }
    
    /*Articles block 1*/
    
    .blog .blog_infos .block_article1, .blog .blog_infos .block_article2 {
        display: block;
    }

    .blog .blog_infos .block_article1 .article_a h4{
        font-size: 33px;
        line-height: 40px;
      
    }
    
    .blog .blog_infos .block_article1 .article_a p{
        font-size: 19px;
        line-height: 23px;
        width: 100%;
    }

    .blog .blog_infos .block_article1 .article_a, .blog .blog_infos .block_article1 .article_b{
        width: 100%;
    } 
    .blog .blog_infos .block_article1 .article_b .btn_article a{
        left: 11%;
        transform: translateY(-338%);
    }
    
    .blog .blog_infos .block_article1 .article_b .btn_consulter a{
        left: 11%;
        transform: translateY(-215%);
    }

    /*Articles block 2*/

    .blog .blog_infos .block_article2 .article_c, .blog .blog_infos .block_article2 .article_d{
        width: 100%; 
       
    } 

    .blog .blog_infos .block_article2 .article_d .btn_article a{
        left: 11%;
        transform: translateY(-338%);
    }
    
    
    .blog .blog_infos .block_article2 .article_d .btn_consulter a{
        left: 11%;
        transform: translateY(-202%);
       
    }

    .blog .blog_infos .block_article2{
        padding: 0px;
    }

    .blog_newletter{
        margin: auto;
    }

    .blog_newletter .content_blog .form_newletter .email input{
        width: 70%;
    }
    
    .blog_newletter .content_blog .form_newletter .btn_send button{
        left: 73%;
        transform: translateY(-100%);
        width: 23%;
    }
    
    /*FAQ*/

    .faq .text_faq {
        display: block;
    }

    .faq .text_faq .text1, .faq .text_faq .text2{
        width: 100%;
        padding: 0px;
    }

    .faq {
        width: 100%;
    }

    .faq .title_faq h3{
        font-size: 21px;
        line-height: 35px;
    }

    .faq .title_faq{
        width: 100%;
        margin: auto;
    }

    .block_form_contact .form_contact form .btn_envoyer{
        width: 30%;
    }
}